* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container-fluid {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scroll {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(8, 45, 70);
}

center {
    margin-top: 20px;
}

center p {
    margin-top: 80px;
    padding: 20px;
    line-height: 30px;
}

small {
    color: grey;
    background-color: rgb(8, 45, 70);
    margin-top: 50px;
}

.containerr {
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.column {
    display: inline-flex;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 50px;
}

img {
    width: 20%;
    margin-right: 16px;
    margin-left: 10px;
    padding: 3px;
}

@media only screen and (max-width:600px) {
    .column {
        width: 100%;
        margin-top: 20px;
        border-radius: 5px;
    }

    img {
        width: 15%;
    }

    a {
        margin-top: 25px;
    }
}

.verify {
    color: grey;
}